@font-face {
	font-family: Dancing_Script;
	src: url("../DancingScript-Bold.ttf");
}

#main-title {
	margin-top: 1px;
	font-family: Dancing_Script, "Rakkas", "Alegreya", "Lora";
	font-size: 3em;
	font-weight: bold;
}

.home .hero img {
    max-width: 100%;
    max-height: 155px;
    display: block;
    margin: 3rem auto 1.5rem;
}

header{
	height: 500px;
}
nav{
	font-size: 16px;
}
.vp-nav-links{
	font-size: 16px;
}